.myButton {
    background-color: rgb(12, 104, 216);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
    text-align: center;
    font-weight: 500;
}

.myButton:hover {
    background-color: rgb(107, 107, 183);
    transform: scale(1.02);
}